html {
    font-size: 16px;
}

body {
    max-width: 40rem;
    font-family: helvetica,sans-serif;
    line-height: 1.4;
    margin: auto;
    color: black;
    background-color: white;
    padding:0.5rem;
}

img {
    max-width: 40rem;
}



sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


.redspan {
    color: red;
    font-weight: bold;
}
